* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html.disable-high-contrast * {
    forced-color-adjust: none;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
}